<section class="full-width pageContent">

    <div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <div class="mdl-tabs__panel is-active" id="tabNewAdmin">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
                    <div class="full-width panel mdl-shadow--2dp">
                        <div class="full-width panel-tittle bg-primary text-center tittles">
                            ASIGNACION DE EMPLEADOS
                        </div>

                        <div class="full-width panel-content"><br>

                        <div class="  text-center tittles">

                        Haga Click sobre el empleado para asignar tarea
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                    <h5 class="text-condensedLight">DISPONIBLES</h5>
                                    {{#if disponibles}}{{#each disponibles}}                 
                                        <div validation="AsignacionTarea" id="{{thsis.Ced_Emp}}" event="click">
                                            <img src="{{this.Img_Emp}}" alt="avatar" style="height: 45px; width=45px;">
                                            <span class="mdl-radio__label">{{this.Nomb_Emp}}</span>
                                        </div>                                                                         
                                    {{/each}}{{/if}}
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                 <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
                                    <h5 class="text-condensedLight">NO DISPONIBLES</h5>
                                    {{#if noDisponibles}}{{#each noDisponibles}}
                                        <div validation="LibrarTarea" id="{{thsis.Ced_Emp}}" event="click">
                                            <img src="{{this.Img_Emp}}" alt="avatar" style="height: 45px; width=45px; ">
                                            <span class="mdl-radio__label">{{this.Nomb_Emp}}</span>  
                                        </div>  
                                    {{/each}}{{/if}}
                                 </div>
                            </div>
                        </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<script src="../modular/scripts/validation.js" ></script>