<!-- empieza contenido de resumen-->
<section class="full-width pageContent">
	<section class="full-width text-center" style="padding: 40px 0;">
		<h3 class="text-center tittles">Resumen</h3>
		<!-- Tiles -->
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						{{Cant_usuarios}}<br>
						<small>Usuarios</small>
					</span>
			</div>
			<i class="zmdi zmdi-account tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						{{Cant_clientes}}<br>
						<small>Clientes</small>
					</span>
			</div>
			<i class="zmdi zmdi-accounts tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						{{Cant_empleados}}<br>
						<small>Empleados</small>
					</span>
			</div>
			<i class="zmdi zmdi-accounts tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						{{Cant_reportes}}<br>
					Reportes</span>
			</div>
			<i class="zmdi zmdi-label tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						{{Cant_productos}}<br>
						<small>Productos</small>
					</span>
			</div>
			<i class="zmdi zmdi-washing-machine tile-icon"></i>
		</article>
		<article class="full-width tile">
			<div class="tile-text">
				<span class="text-condensedLight">
						{{Cant_ventas}}<br>
						<small>ventas</small>
					</span>
			</div>
			<i class="zmdi zmdi-shopping-cart tile-icon"></i>
		</article>
	</section>
	<section class="full-width" style="margin: 30px 0;">

		</div>
		</div>
	</section>
</section>