<section class="full-width pageContent">
	<div class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
		<div class="mdl-tabs__panel is-active" id="tabNewAdmin">
			<div class="mdl-grid">
				<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
					<div class="full-width panel mdl-shadow--2dp">
						<div class="full-width panel-tittle bg-primary text-center tittles">
							Nuevo Empleado
						</div>
						<div class="full-width panel-content">
<<<<<<< HEAD
=======
							

>>>>>>> 3afe0fe18e41d70f447a2f03364d0f77a25e7b3f
							<form action="/admin/empleados" method="post" enctype="multipart/form-data">
								<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
										<br>
										<div class="mdl-grid">
												<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
													<label class="text-condensedLight" style="font-size:20px;">Foto del empleado</label>
													<div class="div_file btn">
														<p class="texto">Escoger imágen (102x102) </p>
														<input type="file" class="btn_enviar mdl-textfield__input" id="file_url" accept=".jpg,.png," name="image_producto" onchange="alertaOferta(this,this.files[0].size)"
														required >
													</div>
												</div>
												<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
													<div id="poder" style="display: none;margin:0 auto; border:solid #000000; height:108px; width:108px;">
														<img style="" src="" height="102px" width="102px" id="img_destino">		
													</div>
												</div>
										</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Cédula</label>
<<<<<<< HEAD
											<input class="mdl-textfield__input" solonum="true" type="text" id="Ced_Emp" name="Ced_Emp" validation="cedula" event="keyup"  EnterNext="true" idNext="Nomb_Emp" maxlength="10">
=======
											<input class="mdl-textfield__input" type="text" id="Ced_Emp" name="Ced_Emp" validation="cedula" event="keyup" solonum="true"
											 EnterNext="true" idNext="Nomb_Emp">
>>>>>>> 3afe0fe18e41d70f447a2f03364d0f77a25e7b3f
											<label class="mdl-textfield__label" for="Ced_Emp"></label>
											<span class="mdl-textfield__error">Ingrese Solo Números en Cédula</span>
										</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Nombre</label>
											<input class="mdl-textfield__input" type="text" id="Nomb_Emp" name="Nomb_Emp" EnterNext="true" idNext="Telf_Emp" soloLetras="true">
											<label class="mdl-textfield__label" for="Nomb_Emp"></label>
											<span class="mdl-textfield__error">Solo se permite caracteres de la a a la z con tildes y espacios</span>
										</div>
									</div>
									<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
										
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Teléfono</label>
											<input class="mdl-textfield__input" type="text" id="Telf_Emp" name="Telf_Emp" solonum="true" EnterNext="true" idNext="Tur_Emp" maxlength="10">
											<label class="mdl-textfield__label" for="Telf_Emp"></label>
											<span class="mdl-textfield__error">Ingrese solo números</span>
										</div>
<<<<<<< HEAD
=======
									</div>
									<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<div class="row">
												<div class="col-lg-6 col-md-6 col-sm-6">
													<label class="text-condensedLight" for="file_url" style="font-size:20px;">Foto del empleado</label>
													<div class="div_file btn">
														<p class="texto">Escoger imágen (102x102) </p>
														<input type="file" class="btn_enviar mdl-textfield__input" id="file_url" accept=".jpg,.png," name="image_producto" onchange="alertaOferta(this,this.files[0].size)"
														 required/>
													</div>
												</div>
												<div class="col-lg-6 col-md-6 col-sm-6">
													<div id="poder" style="display: none;margin:0 auto">
														<img style="" src="" height="102px" width="102px" id="img_destino">
													</div>
												</div>
											</div>
										</div>
>>>>>>> 3afe0fe18e41d70f447a2f03364d0f77a25e7b3f
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" id="Turno" style="font-size:20px;">Turno</label>
											<select class="mdl-textfield__input" id="Tur_Emp" name="Tur_Emp">
												<option>Matutino</option>
												<option>Vespertino</option>
												<option>Nocturno</option>
											</select>
										</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" id="Estado" style="font-size:20px;">Estado</label>
											<select class="mdl-textfield__input" id="Estd_Emp" name="Estd_Emp">
												<option>Disponible</option>
												<option>No Disponible</option>
											</select>
										</div>
										<div>
											<input type="button" id="btn-addClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:left;"
											 id="GuardarEmpleado" validation="saveEmpleado" event="click" value="Guardar">
											<input type="button" id="btn-upClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:left;"
											 id="Consultar" validation="ocultarmostrar" mostrarID="divTabla" ocultarID="tabNewAdmin" event="click" title="Mostrar Cliente Registrados"
											 value="Ver Empleados Registrados">
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="full-width divider-menu-h"></div>
		<div class="mdl-grid" id="divTabla" style="display:none;">
			<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--12-col-desktop">
				<form action="#">
					<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
						<label class="mdl-button mdl-js-button mdl-button--icon" for="searchPayment">
							<i class="zmdi zmdi-search"></i>
						</label>
						<div class="mdl-textfield__expandable-holder">
							<input class="mdl-textfield__input" type="text" id="searchPayment" validation="buscarTabla" event="keyup" TablaID="tblPersonas"
							 datos="0,1,3,4" placeholder=" Buscar">
							<label class="mdl-textfield__label"></label>
						</div>
					</div>
				</form>
				<div style="overflow-x:auto;">
					<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp full-width table-responsive" id="tblPersonas">
						<thead>
							<tr>
								<th>Cedula</th>
								<th>Nombre</th>
								<th>Turno</th>
<<<<<<< HEAD
								<th><center>Opcion</center></th>
=======
								<th>Estado</th>
								<th>
									<center>Opcion</center>
								</th>
>>>>>>> 3afe0fe18e41d70f447a2f03364d0f77a25e7b3f
							</tr>
						</thead>
						<tbody id="contenidoTabla">
							{{#if usuarios}}{{#each usuarios}}
							<tr>
<<<<<<< HEAD
							<td>{{this.Ced_Emp}}</td>
							<td>{{this.Nomb_Emp}}</td>
							<td>{{this.Tur_Emp}}</td>
							<td>
								<div>
									<center><button title="Más Informacion" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#FF9800" class="zmdi zmdi-info"></i></button>&nbsp;&nbsp;&nbsp;
									<button title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editEmpleado" event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit"></i></button>&nbsp;&nbsp;&nbsp;<button validation="deleteEmpleado" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
									</center>
								</div>
							</td>
							</tr>
                            {{/each}}
                            {{else}}
                            <tr>
								<td colspan="6"><center>No hay datos para mostrar</center></td>
							</tr>
                            {{/if}}
=======
								<td>{{this.Ced_Emp}}</td>
								<td>{{this.Nomb_Emp}}</td>
								<td>{{this.Telf_Emp}}</td>
								<td>{{this.Tur_Emp}}</td>
								<td>{{this.Estd_Emp}}</td>
								<td>
									<div>
										<button title="modificar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect" validation="editEmpleado"
										 event="click"><i style="color:#3f51b5" class="zmdi zmdi-edit"></i></button>&nbsp;&nbsp;&nbsp;
										<button
										 validation="deleteEmpleado" event="click" id="borrarClient" title="borrar" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i style="color:#B71C1C" class="zmdi zmdi-delete"></i></button>
									</div>
								</td>
							</tr>
							{{/each}} {{else}}
							<tr>
								<td colspan="6">
									<center>No hay datos para mostrar</center>
								</td>
							</tr>
							{{/if}}
>>>>>>> 3afe0fe18e41d70f447a2f03364d0f77a25e7b3f
						</tbody>
					</table>
				</div>
			</div>
			<center>
				<button id="btn-addClient" title="Registrar nuevo Cliente" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5;"
				 validation="ocultarmostrar" ocultarID="divTabla" mostrarID="tabNewAdmin" event="click">Nuevo Registro</button>
			</center>
		</div>
</section>
<<<<<<< HEAD
<script src="../modular/scripts/validacion_form.js" ></script>
<script src="../modular/scripts/indentificaciones.js" ></script>
<script src="../modular/scripts/validacionPrecios.js" ></script>
<script src="../modular/scripts/validation.js" ></script>
<script src="../modular/scripts/empleados.js"></script>
<link rel="stylesheet" href="../modular/estilos/empleados.css">
=======
<script src="../modular/scripts/validacion_form.js"></script>
<script src="../modular/scripts/indentificaciones.js"></script>
<script src="../modular/scripts/validacionPrecios.js"></script>
<script src="../modular/scripts/validation.js"></script>
<script src="../modular/scripts/empleados.js"></script>
<link rel="stylesheet" href="../modular/estilos/empleados.css">



<!--Esto quite pero igual lo dejo por aqui
							<form action="/admin/empleados" method="post" enctype="multipart/form-data">
								<div class="mdl-grid">
									<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
										<br>
										<div class="mdl-grid">
												<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
													<label class="text-condensedLight" style="font-size:20px;">Foto del empleado</label>
													<div class="div_file btn">
														<p class="texto">Escoger imágen (102x102) </p>
														<input type="file" class="btn_enviar mdl-textfield__input" id="file_url" accept=".jpg,.png," name="image_producto" onchange="alertaOferta(this,this.files[0].size)"
														required/>
													</div>
												</div>
												<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
													<div id="poder" style="display: none;margin:0 auto; border:solid #000000; height:108px; width:108px;">
														<img style="" src="" height="102px" width="102px" id="img_destino">		
													</div>
												</div>
										</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Cédula</label>
											<input class="mdl-textfield__input" solonum="true" type="text" id="Ced_Emp" name="Ced_Emp" validation="cedula" event="keyup"  EnterNext="true" idNext="Nomb_Emp" maxlength="10">
											<label class="mdl-textfield__label" for="Ced_Emp"></label>
											<span class="mdl-textfield__error">Ingrese Solo Números en Cédula</span>
							    		</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Nombre</label>
											<input class="mdl-textfield__input" type="text" id="Nomb_Emp" name="Nomb_Emp" EnterNext="true" idNext="Telf_Emp" soloLetras="true">
											<label class="mdl-textfield__label" for="Nomb_Emp"></label>
											<span class="mdl-textfield__error">Solo se permite caracteres de la a a la z con tildes y espacios</span>
										</div>
									</div>
									<div class="mdl-cell mdl-cell--4-col-phone mdl-cell--8-col-tablet mdl-cell--6-col-desktop">
										
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" style="font-size:20px;">Teléfono</label>
											<input class="mdl-textfield__input" type="text" id="Telf_Emp" name="Telf_Emp" solonum="true" EnterNext="true" idNext="Tur_Emp" maxlength="10">
											<label class="mdl-textfield__label" for="Telf_Emp"></label>
											<span class="mdl-textfield__error">Ingrese solo números</span>
										</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" id="Turno" style="font-size:20px;">Turno</label>
											<select class="mdl-textfield__input" id="Tur_Emp" name="Tur_Emp">
												<option>Matutino</option>
												<option>Vespertino</option>
												<option>Nocturno</option>
											</select>
										</div>
										<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
											<label class="text-condensedLight" id="Estado" style="font-size:20px;">Estado</label>
											<select class="mdl-textfield__input" id="Estd_Emp" name="Estd_Emp" >
												<option>Disponible</option>
												<option>No Disponible</option>
											</select>
										</div>
										<div>
                            	  	    	<input type="button" id="btn-addClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:left;" id="GuardarEmpleado" validation="saveEmpleado" event="click" value="Guardar">
	                                       	<input type="button" id="btn-upClient" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:left;" id="Consultar" validation="ocultarmostrar" mostrarID="divTabla" ocultarID="tabNewAdmin" event="click" title="Mostrar Cliente Registrados" value="Ver Empleados Registrados">
                                       </div>
									</div>
								</div>
							</form>

							-->
>>>>>>> 3afe0fe18e41d70f447a2f03364d0f77a25e7b3f
